body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: bisque;
}
.game-container {
    display: grid;
    grid-template-columns: repeat(14, 99px);
    grid-gap: 10px;
    margin: 20px auto;
    background-color: #6e360e;
}
.hole {
    width: 100px;
    height: 100px;
    background-color: #8B4513;
    border-radius: 5px;
    position: relative;
}
.mole {
    width: 80px;
    height: 80px;
    background-color: #FFD700;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
}
    
    